/* 1번 방법 */
/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px;
} */

/* .grid-container div {
  border: 1px solid black;
} */

/* .header {
  grid-column: 1 / 4;
} */

/* .sidebar {
  grid-row: 2 / 5;
} */

/* 2번 방법 */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-areas:
    "헤더 헤더 헤더 헤더"
    "사이드 . . ."
    "사이드 . . .";
}

.grid-container div {
  border: 1px solid black;
}

.header {
  grid-area: 헤더;
}

.sidebar {
  grid-area: 사이드;
}
