.container {
  width: 100%;
}

.header {
  width: 100%;
  height: 150px;
  background-color: aquamarine;
}

.left-menu {
  width: 30%;
  height: 500px;
  background-color: blue;
  float: left;
}

.right-menu {
  width: 60%;
  height: 500px;
  background-color: crimson;
  float: right;
}

.footer {
  width: 100%;
  height: 150px;
  background-color: gray;
  clear: both;
}
