/* 배경 이쁘게 넣는 스킬들 */
.main-background {
  width: 100%;
  height: 500px;
  padding: 1px; /* 패딩을 주지 않으면, 자식 margin이 부모에게도 적용되어 버림 -> margin collapse */
  background-image: url(../react-native.png);
  background-size: cover; /* 배경이 잘리던지 알아서 박스 크기 만큼 넣어라 */
  background-repeat: no-repeat; /* 부족한 부분을 채우기 위한 반복 사용 X */
  background-position: center; /* 어디서부터 사진을 채울지 설정 */
  /* filter: brightness(10%) saturate(30%); 박스에 보정 입히기 안에 글씨까지 입혀짐 */
  text-align: center;
}

.main-title {
  color: red;
  width: 100%;
  font-size: 30px;
  margin-top: 100px;
}

/* position과 좌표 레이아웃 */
.main-button {
  padding: 15px;
  font-size: 20px;
  background: black;
  border: none;
  color: red;
  border-radius: 5px;
  /* 태그 이동, 기준점 잡기, 
  relative: 내 원래 위치를 기준으로 이동하자,
  fixed: 화면을 기준으로 특정 위치에 고정된다. -> 상단 메뉴바 같은 것을 만들 때 사용한다.
  absolute: position: relative를 가진 부모를 기준으로 이동한다.
  포지션을 적용하면 공중에 뜨게 된다. */
  position: relative;
  top: 100px; /* 좌표 속성 */
  z-index: 5;
}

/*
max-width: width의 %는 pc버전에서 쓰기에는 너무 크기 때문에, max-width를 걸어야 한다.
width: content 영역을 의미함 -> padding을 주게 되면 max-width를 넘을 수 있다.
*/
.test-container {
  width: 50%;
  max-width: 500px;
  margin: auto;
  text-align: center;
  position: relative;
  top: -50px;
  color: red;
  z-index: 5;
  background-color: blueviolet;
}

/*
box-sizing: border-box 옵션을 주면, padding + border + content 토탈 width 크기를 max-width에 맞출 수 있다.
*/
.test-container2 {
  width: 50%;
  max-width: 500px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  position: relative;
  top: -50px;
  color: red;
  z-index: 5;
  background-color: blueviolet;
}

/*
z-index: 공중에 떠 있는 애들이 많을 때, 누가 맨 앞에 올 것인가?
z-index가 높을 수록 앞에 온다.
*/
.z-index-container {
  text-align: center;
  position: relative;
  padding: 5px;
  color: blue;
  top: -235px;
  left: 30px;
  z-index: 3;
}

input[type="text"] {
  padding: 10px;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 5px;
}

.form-background {
  background-color: black;
  padding: 30px;
}

.form-white {
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}

.w-100 {
  width: 100%;
  padding: 10px;
}

/* 기본으로 설정하면 좋은 옵션들 */
body {
  margin: 0px;
}

div {
  box-sizing: border-box; /* width를 padding, margin 포함해서 적용한다. */
}

/* <button>, <input> 태그들은 크롬이나 파이어폭스에서의 기본 디자인이 다르다. */
/* normalize.css를 통해, css 파일 맨위에 브라우저 간의 호환성 이슈 해결책을 첨부할 수 있다. */
/* normalize.css를 통해, 헤더에 link로 추가할 수 있다.*/
/* 다운로드 주소: https://github.com/necolas/normalize.css/blob/master/normalize.css  */
